USE [master]
GO
/****** Object:  Database [IMOBILIARIA]    Script Date: 13/12/2022 18:48:28 ******/
CREATE DATABASE [IMOBILIARIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMOBILIARIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMOBILIARIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMOBILIARIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IMOBILIARIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMOBILIARIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMOBILIARIA]
GO
/****** Object:  Table [dbo].[IMOVEIS]    Script Date: 13/12/2022 18:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMOVEIS](
	[Nome] [varchar](50) NOT NULL,
	[QtdQuartos] [int] NOT NULL,
	[QtdBanheiros] [int] NOT NULL,
	[Vagas] [int] NOT NULL,
	[ValorLocacao] [float] NOT NULL,
	[CODIGO] [int] NOT NULL,
	[LOCADO] [varchar](3) NULL,
	[CPF_LOCATARIO] [varchar](50) NULL,
	[NOME_LOCATARIO] [varchar](50) NULL,
	[EnderecoCompleto] [varchar](100) NULL,
	[Cep] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATARIO]    Script Date: 13/12/2022 18:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATARIO](
	[CPF] [varchar](50) NULL,
	[Nome] [varchar](50) NOT NULL,
	[Telefone] [varchar](50) NULL,
	[Renda] [float] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
